src/main/mule/mar-1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="4196b4c7-5468-440f-841e-a7c9f430a30f" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<configuration-properties doc:name="Configuration properties" doc:id="bd6b7a64-03f4-4703-b835-ec0e48099e58" file="mar.properties" />
	<flow name="mar-1Flow" doc:id="40740714-8961-4676-9a8a-a610a1f6fd1d" >
		<http:listener doc:name="Listener" doc:id="0e2d25dd-72cc-4b60-b146-fc31dac59e1e" path="/march1" config-ref="HTTP_Listener_config"/>
		<logger level="INFO" doc:name="Logger" doc:id="87e9b790-c467-49e5-9889-fc755f016218" message="Data recieved from frontend #[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="62e79dcc-a871-4b1b-a677-1ff873b11e27" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="DEBUG" doc:name="Logger1" doc:id="4b55046b-f39a-4f2a-95b4-babf4684c7d0" message="Data transformed #[payload]" category="com.mar-1.org"/>
	</flow>
</mule>
